<!doctype html>
	<html>
		<head>
			<title>
				{{msg0}}
			</title>
		</head>
		<body>
			<h1 align="center">
				{{msg}}
			</h1>
			<a href="/login_home">
				<h1 align="center">
				<label for='lin' align="center" >
					<img src='{{LOGIN}}' width='100' height='40'/>
				</label>
				<input type='button' hidden='hidden' id="lin">
				</input>
				</h1>
			</a>
			<h1 align="center">
			<a href="/register/">
				<label for='Lin' align="center" >
					<img src='{{REG}}' width='100' height='40'/>
				</label>
				<input type='button' hidden='hidden' id="Lin">
				</input>
			</a>
			</h1>
		</body>
	</html>